.buttonAreaOut {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}

.buttonAreaOut .buttonAreaIn {
    min-height: 10rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.buttonAreaOut .buttonAreaIn .btn {
    margin-bottom: 0.5rem;
}

.buttonAreaOut .buttonAreaIn .btn:last-child {
    margin-bottom: 0;
}