.calcStepper {
    padding: 3rem;
}

.beautifulMain {
    display: flex;
    justify-content: center;
}

.beautifulMain .content {
    width: 60%;
}

.bottomBtnOut {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.bottomBtnOut .bottomBtnIn {
    width: 20%;
}