.calcStepper {
    padding: 3rem;
}

.beautifulMain {
    display: flex;
    justify-content: center;
}

.beautifulMain .content {
    width: 60%;
}

.bottomBtnOut {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}

.bottomBtnOut .bottomBtnIn {
    width: 30%;
}

@media (max-width: 800px) {
    .calcStepper {
        padding: 3rem 0;
    }

    .beautifulMain .content {
        width: 90%;
    }
}