.calcSubTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: calc(100% + 0.1rem);
    margin-left: -1px;
}

.calcSubTable .calcSubTableRow:first-child .calcSubTableCol {
    border-top: none;
}

.calcSubTable .calcSubTableRow:last-child .calcSubTableCol {
    border-bottom: none;
}

.calcSubTable .calcSubTableRow .calcSubTableCol {
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    padding: 0.6rem 0.3rem;
}

@media (min-width: 1000px) {
    .calcSubTable {
        width: calc(100% + 0.2rem);
        margin-left: -0.1rem;
    }
}